@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-400: #ccb260;
  --secondary-400: #2f374a;
  --dark-400: #232323;
}

html,
body {
  font-family: "Cairo", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace, sans-serif;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: #fafafa;
  color: var(--dark-400);
}

a {
  color: inherit;
  text-decoration: none;
}
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
}

.my-container {
  @apply px-6 sm:px-16;
  width: min(1920px, 100%);
  margin-inline: auto;
}

section {
  @apply py-8 md:py-10 lg:py-16;
}

.f-ai-c {
  @apply flex items-center;
}

.cta {
  @apply rounded-md bg-primary-400 py-[10px] px-[26px] text-lg text-white shadow-lg transition-all;
}

.cta:hover {
  @apply bg-primary-400/90;
}

.cta:active {
  @apply scale-105;
}
p {
  @apply text-lg;
}

main[dir="ltr"] .gradient {
  background: linear-gradient(90deg, rgb(194, 169, 88) 0%, rgb(243, 197, 44) 100%);
}

main[dir="rtl"] .gradient {
  background: linear-gradient(-90deg, rgb(194, 169, 88) 0%, rgb(243, 197, 44) 100%);
}

.truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-wrapper {
  width: fit-content !important;
  height: fit-content !important;
}

.hero-swiper .swiper-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.hero-swiper .swiper-slide {
  width: 100% !important;
  height: 100% !important;
}

.whoAreWe-swiper {
  /* display: flex;
  justify-content: center; */
}
/* .whoAreWe-swiper .swiper-slide {
  width: fit-content !important;
  height: 100% !important;
} */

.testimonials-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  background: #b2b2da;
  opacity: 1;
  border-radius: 2px;
  margin: 0 5px;
}
.testimonials-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #ccb260;
}

.brands-swiper .swiper-slide {
  width: 100px !important;
  height: 100px !important;
}
